DEFAULT_LLM_PROVIDER=gemini

GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=us-central1

GEMINI_FAST_MODEL=gemini-2.5-flash
GEMINI_PRO_MODEL=gemini-2.5-pro
GEMINI_TRANSLATE_MODEL=gemini-2.5-flash

GOOGLE_TRANSLATE_API_KEY=your-api-key


GROQ_API_KEY=groq-api-key

GROQ_BASE_MODEL=llama-3.3-70b-versatile
GROQ_FAST_MODEL=llama-3.1-8b-instant
GROQ_VISION_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

SNOONU_MCP_URL=https://snoonu-mcp-server-1006350847085.me-central1.run.app/mcp